<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relatório de Rotas</title>

    <style>
      body {
        width: 595px;
        background-color: #fff;
        margin: 0;
      }
      
      table {
        width: 100%;
      }

      th {
        text-align: left;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Listagem de passageiros</h1>
      <table>
        <thead>
          <tr>
            <th>Motorista</th>
            <th>Rota</th>
            <th>Horário</th>
          </tr>
        </thead>
        <tbody>
          
          {{#each pdf}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.route}}</td>
            <td>{{this.time}}</td>
          </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">{{pdf.length}} rotas</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>
